<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Gaurd - Home</title>
    <link rel="icon" href="../static/images/hp/icon.png">
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

</head>

<body>

    <!-- HOME -->

    <section id="banner">

        <img src="../static/images/hp/logo.png" class="logo" alt="">

        <div class="banner-text">
            <h1>Water Guard</h1>
            <p>Predict To Preserve</p>
            <div class="banner-btn">
                <a href="/login"><span></span>Sign In</a>
                <a href="/register"><span></span>Sign Up</a>
            </div>
        </div>

    </section>

    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="#banner">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#feature">FEATURES</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#footer">CONTACT US</a></li>
            </ul>
        </nav>
    </div>

    <div id="menuBtn">
        <img src="../static/images/hp/menu.png" id="menu" alt="">
    </div>

    <!-- ABOUT -->

    <section id="about">

        <div class="title-text">
            <h1>About</h1>
        </div>

        <div class="about-box">

            <div class="about">
                <div class="about-desc">
                    <div class="about-text">
                        <p>Water stress plagues areas all across South Africa, and each area experiences water issues
                            caused to different degrees by excessive use, growing demand, pollution, theft, thirsty
                            plants, inadequate infrastructure, climate, and poor practices. South Africa is a Water
                            scarce country, receiving only half the precipitation of the global average.
                            With this said, it is important for us to safeguard the integrity of our Water supply hence
                            this application was created to provide a solution to limit the wastage of water in and at
                            the same time managing water quality in supply pipelines. Our application seeks to provide a
                            platform within which municipal governing bodies or contracted water companies are alerted
                            in the case of leakage detection and quality monitoring for speedy maintenance, reducing
                            losses.</p>
                    </div>
                </div>
            </div>

            <div class="about-img">
                <img src="../static/images/hp/logo-color.png" alt="">
            </div>

        </div>

    </section>

    <!-- FEATURES -->

    <section id="feature">

        <div class="title-text">
            <img src="../static/images/hp/logo-color.png" alt="">
            <h1>Features</h1>
        </div>

        <div class="feature-box">

            <div class="single-feature">
                <img src="../static/images/hp/pic-1.jpg" alt="">
                <div class="overlay"></div>
                <div class="feature-desc">
                    <h3>Water Leakage</h3>
                    <hr>
                    <p>The detection of water pipeline leakage is important to ensure that water supply networks can
                        operate safely and conserve water resources. Causes of water pipeline leakage include and not
                        limited to the corrosive nature of the soil, deficient pipe material quality, the temperature
                        and pressure, failure to employ standard pipe laying methods, geological changes, and human
                        damage.
                        Our system will determine any apparent leakages using sensor network installed at various
                        segments of the pipeline system, measuring any deficiencies in water pressure and flow rate of
                        the supply system.</p>
                </div>
            </div>

            <div class="single-feature">
                <img src="../static/images/hp/pic-2.jpg" alt="">
                <div class="overlay"></div>
                <div class="feature-desc">
                    <h3>Water Quality</h3>
                    <hr>
                    <p>Water quality monitoring aims to provide the data required for safeguarding the water supply
                        system against adverse biological effects from multiple chemical contamination arising from
                        anthropogenic diffuse emissions and point sources.
                        In this case, our system seeks to monitor water quality sensors that determine the pH levels
                        contained in the system, the turbidity of the water, monitoring chemical constituent trends and
                        screening of any impairments detected, alerting users of any discrepancies in the water quality
                        supply system.</p>
                </div>
            </div>

            <div class="single-feature">
                <img src="../static/images/hp/pic-3.jpg" alt="">
                <div class="overlay"></div>
                <div class="feature-desc">
                    <h3>Predicted Records</h3>
                    <hr>
                    <p>This the section where Previously acquired predictions can be viewed, allowing us to view any
                        trends and associations between values acquired, classified by unique ID and Time stamp</p>
                </div>
            </div>

        </div>

    </section>

    <!-- TEAM -->

    <section id="team">

        <div class="title-text">
            <img src="../static/images/hp/logo-color.png" alt="">
            <h1>Team</h1>
        </div>

        <div class="team-row">

            <div class="team-col">
                <div class="creator">
                    <img src="../static/images/hp/img-1.jpg" alt="">
                    <div class="creator-info">
                        <h4>Moriti Ramolefo <i class="fa fa-envelope"></i></h4>
                        <small>ramolefo.moriti@gmail.com</small>
                    </div>
                </div>
                <p>Front-end developer</p>
            </div>

            <div class="team-col">
                <div class="creator">
                    <img src="../static/images/hp/img-2.jpg" alt="">
                    <div class="creator-info">
                        <h4>Terror Mayimele <i class="fa fa-envelope"></i></h4>
                        <small>terror.tivani@gmail.com</small>
                    </div>
                </div>
                <p>Back-end developer</p>
            </div>

            <div class="team-col">
                <div class="creator">
                    <img src="../static/images/hp/img-3.jpg" alt="">
                    <div class="creator-info">
                        <h4>Obumneme Umeonwuka <i class="fa fa-envelope"></i></h4>
                        <small>obbtechnix@gmail.com</small>
                    </div>
                </div>
                <p>Model designer</p>
            </div>

            <div class="team-col">
                <div class="creator">
                    <img src="../static/images/hp/img-4.jpg" alt="">
                    <div class="creator-info">
                        <h4>Colin Moyo <i class="fa fa-envelope"></i></h4>
                        <small>chmoyo92@gmail.com</small>
                    </div>
                </div>
                <p>Project Co-ordinator</p>
            </div>

        </div>

    </section>

    <!-- CONTACT US -->

    <section id="footer">
        <img src="../static/images/hp/footer-img.png" class="footer-img" alt="">
        <div class="title-text">
            <img src="../static/images/hp/logo-color.png" alt="">
            <h1>Contact Us</h1>
        </div>
        <div class="footer-row">
            <div class="footer-left">
                <h1>Need Help</h1>
                <p><i class="fa fa-question-circle"></i>FAQ</p>
                <p><i class="fa fa-shield"></i>Privacy Policy</p>
                <p><i class="fa fa-comments-o"></i>Feedback</p>
            </div>
            <div class="footer-right">
                <h1>Get In Touch</h1>
                <p>116 Water Rd, Waterfall Gauteng 2090, South Africa<i class="fa fa-map-marker"></i></p>
                <p>info@waterguard.co.za<i class="fa fa-paper-plane"></i></p>
                <p>+27 11 345 6789<i class="fa fa-phone"></i></p>
            </div>
        </div>
        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube-play"></i>
            <p>Copyright <strong>©</strong> 2022 Water Guard Inc. All Rights Reserved.</p>
        </div>
    </section>

    <!-- Scroll Function JS -->

    <script>

        var menuBtn = document.getElementById("menuBtn")
        var sideNav = document.getElementById("sideNav")
        var menu = document.getElementById("menu")

        sideNav.style.right = "-250px";

        menuBtn.onclick = function () {
            if (sideNav.style.right == "-250px") {
                sideNav.style.right = "0";
                menu.src = "../static/images/hp/close.png"
            } else {
                sideNav.style.right = "-250px"
                menu.src = "../static/images/hp/menu.png"
            }
        }

        var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 1000,
            speedAsDuration: true
        });

    </script>

</body>

</html>